body {
    margin: 0;
    background-color: #cca8e9;
}

.top-container {
    background-image: url("https://images.unsplash.com/photo-1635492491273-455af7728453?q=80&w=1920&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.top-container h1 {
    color: white;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 3px;
}

.text {
    margin: 50px 5%;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-weight: 600;
    text-align: justify;
}

.navbar {
    display: flex;
    position: fixed;
    background-color: #cca8e9;
    width: 100%;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0,0,0,.3);
    transition: background-color 0.4s;
}

.navbar ul {
    display: flex;
    list-style-type: none;
}

.navbar ul li a {
    text-decoration: none;
    margin: 0 10px;
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
    white-space: nowrap;
}

.navbar ul li a:hover {
    color: white;
}

.navbar.active {
    background-color: #dcd3e4;
}

.emoji-container {
    padding: 20px;
    background-color: #dcd3e4;
    text-align: center;
}

h2 {
    font-size: 2rem;
}

.btn {
    font-size: 4rem;
    padding: 15px;
    background: rgba(255,255,255,.2);
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 10px rgba(0,0,0,.3);
    filter: grayscale();
    cursor: pointer;
    transition: filter .2s ease-in-out;
}

.btn:hover {
    filter: grayscale(0);
}

.emoji-name {
    font-size: 20px;
    font-weight: 600;
}


